<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--事务配置注意, 被配置的服务层, 不可以捕获异常, 否则事务管理器不会获取到异常,进行事务的管理. 如果非要捕获异常, 需要手动抛出-->

    <!-- 事务管理器 -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 事务的通知 -->
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="insert*"/>
            <tx:method name="add*"/>
            <tx:method name="create*"/>
            <tx:method name="save*"/>
            <tx:method name="delete*"/>
            <tx:method name="remove*"/>
            <tx:method name="modify*"/>
            <tx:method name="update*"/>
            <!-- 只读事务 -->
            <tx:method name="select*" read-only="true"/>
            <tx:method name="find*" read-only="true"/>
            <tx:method name="get*" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <!-- 事务切面的配置 -->
    <aop:config>
        <!-- 切点 -->
        <aop:pointcut expression="execution(* pers.jssd.ego.rpc.service.impl.*.*(..))" id="txPc"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPc"/>
    </aop:config>

</beans>